<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/signup.css">
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase-messaging.js"></script>
  </head>
  <body>
    <div>
      <h1 class="title-idea">Welcome to idea-box</h1>
      <div class='login'>
        <h2>Register</h2>
        <input name='username' placeholder='Username' type='text' id="regUsername"/>
        <input type="text" name="email" placeholder="Email" id="regEmail">
        <input id='regPassword' name='password' placeholder='Password' type='password'/>
        <!--div class='remember'>
          <input checked='' id='remember' name='remember' type='checkbox'/>
          <label for='remember'></label>Remember me
        </div-->
        <button id="btnSignup" onClick="signup()"> Register </button>
        <!--a class='forgot' href='#'>Forgot your password?</a-->
      </div>
      <!-- <script type="text/javascript" src="javascripts/authentication.js"></script> -->
      <script type="text/javascript" src="javascripts/test.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
      <script type="text/javascript" src="javascripts/signup.js"></script>
    </body>
  </html>