.top-margin{
	margin-top: 100px;
}

.postIdeaBtn{
	width: 100%;
}

.floatRight{
	float: right;
}

.verticalAlign{
	vertical-align: center;
}

.marginTop20{
	margin-top: 20px;
}
.ml10	{
	margin-left: 10px
}
.CodeMirror, .CodeMirror-scroll {
    min-height: 200px;
}
.container-dash{
	max-width: 600px;
	margin: 0px  auto;
	padding: 0px 15px;
}